.productCard {
  padding: 40px 0;
  cursor: pointer;
  margin: 0 0 20px 0;
  &:hover {
    border: 1px solid #f1f1f1;
  }
  .productCardImage {
    display: flex;
    justify-content: center;
    img {
      object-fit: contain;
    }
  }
  .productCardTitle {
    padding: 50px 0 0;
    h3 {
      font-family: var(--font-open-sans);
      text-align: center;
      font-weight: 100;
    }
  }
  .productCardPrice {
    text-align: center;
    padding: 20px 0 0 0;
    span {
      font-family: var(--font-open-sans);
      font-weight: 100;
    }
  }
}