.sectionAbout {
  margin: 0 0 110px 0;
  .aboutWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 28px;
    .aboutBlock {
      margin: 0 0 10px 0;
      h3 {
        font-family: var(--font-roboto);
        font-weight: 500;
        font-size: 22px;
        margin: 0 0 15px 0;
      }
      p {
        font-family: var(--font-roboto);
        font-weight: 400;
        line-height: 30px;
      }
    }
  }
}