.filter {
  position: relative;
  margin: 0 50px 0 0;
  span {
    display: flex;
    align-items: center;
    font-family: var(--font-roboto-condensed);
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    svg {
      margin: 0 0 0 10px;
      width: 15px;
      height: 15px;
    }
  }
  .filterHidden {
    position: absolute;
    border: 1px solid #333;
    width: 200px;
    background: #fff;
    top: 50px;
    ul {
      list-style: none;
      li {
        font-family: var(--font-roboto-condensed);
        font-size: 18px;
        border-bottom: 1px solid #333;
        padding: 15px 0;
        text-align: center;
        cursor: pointer;
        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
}