.header {
  position: relative;
  .headerTop {
    background: #333;
    padding: 10px 15px;
    .headerTopWrapper {
      display: flex;
      justify-content: space-between;
    }
    span {
      font-family: var(--font-open-sans);
      font-weight: 400;
      font-size: 14px;
      color: #fff;
    }
    a {
      font-family: var(--font-open-sans);
      font-weight: 600;
      font-size: 14px;
      color: #fff;
    }
    .location {
      display: flex;
      align-items: center;
      cursor: pointer;
      color: #fff;
      &:hover {
        color: #8d8d8d;
        transition: .2s ease-in-out;
      }
      svg {
        margin: 0 5px 0 0;
      }
    }
    .call {
      &:hover {
        cursor: pointer;
        color: #8d8d8d;
        transition: .2s ease-in-out;
      }
    }
  }
  .headerBottomWrapper {
    display: flex;
    justify-content: space-between;
    padding: 60px 15px;
    .headerTitle {
      display: flex;
      align-items: center;
      justify-content: center;
      h1 {
        font-family: var(--font-raleway);
        text-transform: uppercase;
        font-size: 54px;
        font-weight: 400;
      }
    }
    .headerButtons {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      grid-gap: 60px;
      span {
        font-family: var(--font-open-sans);
        font-weight: 400;
        display: flex;
        align-items: center;
        flex-direction: row;
        font-size: 16px;
        cursor: pointer;
        svg {
          margin: 0 10px 0 0;
        }
      }
    }
  }
}
