.header {
  position: relative;
  .headerTop {
    display: flex;
    justify-content: center;
    background: #F8F8F8;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 15px;
    span {
      font-family: var(--font-open-sans);
      font-weight: 400;
      font-size: 14px;
    }
    a {
      font-family: var(--font-open-sans);
      font-weight: 600;
      font-size: 14px;
    }
    .location {
      display: flex;
      align-items: center;
      svg {
        margin: 0 5px 0 0;
      }
    }
  }
  .headerMiddle {
    display: flex;
    justify-content: space-between;
    min-width: 1800px;
    margin: 60px 0;
    .headerTitle {
      display: flex;
      align-items: center;
      justify-content: center;
      h1 {
        font-family: var(--font-raleway);
        text-transform: uppercase;
        font-size: 54px;
        font-weight: 400;
      }
    }
    .headerButtons {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      grid-gap: 60px;
      span {
        font-family: var(--font-open-sans);
        font-weight: 400;
        display: flex;
        align-items: center;
        flex-direction: row;
        cursor: pointer;
        svg {
          margin: 0 10px 0 0;
        }
      }
    }
  }
  .headerBottom {
    display: flex;
    justify-content: space-between;
    .headerSearch {
      max-width: 350px;
      width: 100%;
      form {
        position: relative;
        input {
          border: none;
          border-bottom: 1px solid #858585;
          outline: none;
          width: 100%;
          padding: 5px;
          cursor: pointer;
          &::placeholder {
            color: #858585;
          }
        }
        svg {
          position: absolute;
          right: 0;
          width: 20px;
          color: #858585;
        }
      }
    }
    .headerMenu {
      nav {
        ul {
          display: flex;
          list-style-type: none;
          li {
            a {
              font-family: var(--font-raleway);
              font-weight: 500;
              text-transform: uppercase;
              font-size: 20px;
              padding: 0 30px;
            }
            &:last-child {
              a {
                padding: 0 0 0 30px;
              }
            }
          }
        }
      }
    }
  }
}
