.footerBottom {
  background: #f1f1f1;
  padding: 70px 0 0 0;
  .footerWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    .footerBlock {
      margin: 0 0 100px 0;
      h4 {
        font-family: var(--font-raleway);
        font-weight: 500;
        font-size: 18px;
        margin: 0 0 30px 0;
      }
      .listSocial {
        display: flex;
        gap: 15px;
        li {
          svg {
            width: 35px;
            height: 35px;
          }
        }
      }
      ul {
        list-style: none;
        li {
          line-height: 40px;
          cursor: pointer;
          a {
            font-family: var(--font-raleway);
            font-size: 16px;
            font-weight: 400;
          }
        }
      }
      .footerBlockPhone {
        display: flex;
        flex-direction: column;
        margin: 0 0 30px 0;
        span {
          font-family: var(--font-open-sans);
          font-size: 16px;
          &:last-child {
            font-size: 14px;
            margin: 5px 0 0 0;
          }
        }
      }
      .footerBlockToggle {
        display: flex;
        flex-direction: column;
        margin: 0 0 30px 0;
        span {
          display: flex;
          align-items: center;
          font-family: var(--font-open-sans);
          font-size: 16px;
          cursor: pointer;
          &:last-child {
            margin: 5px 0 0 0;
          }
        }
      }
      .footerBlockQuestion {
        display: flex;
        flex-direction: column;
        span {
          font-family: var(--font-open-sans);
          font-size: 16px;
          margin: 0 0 5px 0;
        }
        button {
          background: #333;
          font-size: 16px;
          font-family: var(--font-raleway);
          border: none;
          outline: none;
          padding: 10px 5px;
          color: #fff;
          margin: 20px 0 0 0;
          cursor: pointer;
        }
      }
    }
  }
  .footerCopyright {
    display: flex;
    justify-content: center;
    padding: 25px 0;
    border-top: 1px solid #000;
    p {
      font-family: var(--font-raleway);
      font-size: 16px;
    }
  }
}
