.cartProducts {
  .cartProductsHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 0 0 70px 0;
    h2 {
      font-family: var(--font-raleway);
      font-size: 26px;
    }
    span {
      display: block;
      border-bottom: 1px solid black;
      font-family: var(--font-raleway);
      font-size: 16px;
      cursor: pointer;
    }
  }
  .cartProductsFooter {
    padding: 30px 0;
    border-top: 1px solid #000;
    display: flex;
    span {
      font-family: var(--font-roboto);
      font-size: 18px;
      font-weight: 400;
      &:first-child {
        margin: 0 40px 0 0;
      }
    }
  }
}